<div class="tab events" data-group="primary" data-tab="events">
  <h3 class="field-title">{{localize 'settlement-sheets.TABS.Events'}}</h3>
  {{#if editable}}
    {{editor events target="system.events" button=true editable=editable}}
  {{else}}
    <div class="editor-content">{{{events}}}</div>
  {{/if}}
</div>